/*gerais*/
body {
    font-family: 'Roboto', sans-serif;
}
.row {
    margin: 0;
}
.container {
    padding: 70px 0;
}
p, li {
    color: #444;
    font-size: 14px;
}

/*barra de navegação*/
header {
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}
/*carrossel*/
.container-fluid {
    padding: 0;
}
#carouselExampleCaptions .carousel-inner, #carouselExampleCaptions .carousel-item {
    height: 90vh;
}
#carouselExampleCaptions .carousel-caption {
    top: 30%;
}
#carouselExampleCaptions .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 20px;
}
#carouselExampleCaptions .carousel-caption h3 {
    font-size: 40px;
    margin-bottom: 20px;
    color: rgb(194, 194, 20);
} 
#carouselExampleCaptions .carousel-caption p {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 100px;
    color: #fff;
}
.main-btn {
    background-color: rgba(127, 255, 212, 0.699);
    text-transform: uppercase;
    width: 300px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
    text-decoration: none;
}
.main-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border-color: #444;
}
.carousel-indicators .active {
    background-color: rgba(127, 255, 212, 0.699);
}
/*cards*/
.grade {
    height: 60vh;
}
.texto h2 {
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 10px;
}
.texto p {
    color: #fff;
    font-size: 1.4rem;
    margin: 5px;
    margin-bottom: 20px;
}
.texto-btn {
    display: block;
    margin: auto;
    background-color: rgba(127, 255, 212, 0.699);
    text-transform: uppercase;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    border: 3px solid transparent;
    transition: .5s;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
}
.texto-btn:hover {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    border-color: #444;
}
.img1 {
    background-image: url(../image/champions500.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.img2 {
    background-image: url(../image/santiago500.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.img3 {
    background-image: url(../image/otogono500.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.img4 {
    background-image: url(../image/anderson500.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

/*assista aos jogos*/
#about-area {
    background-color: #f9f9f9;
}
.col-md-6 img {
    margin-bottom: 25px;
}

.main-title {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 1.8rem;
    text-align: center;
}
.about-title {
    font-size: 1.2rem;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
#about-list {
    list-style: none;
    padding-left: 0;
}
#about-list li {
    line-height: 30px;
}
#about-list i {
    color: rgba(127, 255, 212, 0.699);
    margin-right: 15px;
}
/*video*/
#container-video {
    margin: 0;
    padding: 5px;
    background: #353D41;
}
#video {
    width: 97%;
    margin: 0;
    padding: 0;
}
/*dispositivos*/
.service-box {
    text-align: center;
}
.service-box i,.service-box h4 {
    transition: .5s;
}
.service-box i {
    font-size: 40px;
    margin-bottom: 20px;
    color: #444;
}
.service-box h4 {
    font-size: 24px;
    margin-bottom: 20px;
}
.service-box:hover > i, .service-box:hover > h4 {
    color: rgba(127, 255, 212, 0.699);
}
/*dados*/
.cicle-box div {
    padding: 0 40px;
}
.progressbar-text {
    font-weight: bold;
    font-size: 32px;
}
#data-area p {
    color: royalblue;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}
/* Footer */
footer{
    background-color: #444;
}

#contact-area {
    text-align: center;
}

.contact-box {
padding-bottom: 50px;
margin-bottom: 50px;
border-bottom: 1px solid #3EC1D5;
background-color: #444;
}

.contact-box i {
color: #fff;
border: solid 1px #444;
border-radius: 50%;
width: 55px;
height: 55px;
line-height: 55px;
font-size: 30px;
margin-bottom: 20px;
}

.titulo-rodape {
color: #fff;
}

.contact-box p {
font-size: 16px;
}

.contact-tile {
font-weight: normal;
color: #3EC1D5;
}

.devnome{
color: #fff;
}

p > a {
text-decoration: none;
color: #fff;
}

p > a:hover {
text-decoration: none;
color: #3EC1D5;
}

#msg-box p {
font-size: 22px;
color: #fff;
}

#contact-form input[type="text"], #contact-form textarea {
margin-bottom: 15px;
border-radius: 0;
}

#contact-form .main-btn {
width: 120px;
height: 50px;
}

#contact-form .main-btn:hover {
color: #3EC1D5;
}

/* Copy */

#copy-area {
background-color: #353D41;
color: #fff;
}

#copy-area .container {
padding: 10px 0;
text-align: center;
}

#copy-area .container p {
margin-bottom: 0;
color: #fff;
}

#copy-area .container a {
font-weight: bold;
color: #c0abab;
text-transform: capitalize;
}

#copy-area .container a:hover {
text-decoration: none;
color: #3EC1D5;
}

@media screen and (max-width: 768px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .bi {
        color: #fff;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }

    /*carrocel*/
    
    .container {
        padding: 20px 0;
    }
    #carouselExampleCaptions .carousel-item {
        height: auto;
    }
    #carouselExampleCaptions .carousel-inner {
        height: auto;
    }
    #carouselExampleCaptions .carousel-caption h2 {
        font-size: 1.6rem;
        margin: 0;
    }
   
    #carouselExampleCaptions .carousel-caption p {
        font-size: 1.4rem;
        margin-bottom: 25px;
    }
    .carousel-caption {
        left: 10%;
        right: 10%;
    }
    .grade {
        height: 50vh;
    }
    .texto h2 {
        margin-top: 120px;
        color: #fff;
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 10px;
    }
    .texto p {
        color: #fff;
        font-size: 1.4em;
        margin: 5px;
        margin-bottom: 15px;
    }
    .texto-btn {

    }
    .col-md-6 img {
        margin-top: 50px;
    }
}
@media screen and (max-width: 445px) {
    #carouselExampleCaption {
        margin-top: 90px;
    }
    #carouselExampleCaptions .carousel-caption {
        top: 5%;
    }
    #carouselExampleCaptions .carousel-caption h2 {
        font-size: 1.6rem;
        margin-bottom: 20px;
        
    }
    .p-titulo{
        display: block;
    }

    #carouselExampleCaptions .carousel-caption .p-titulo {
        display: none;
        
    }
   
    .mobile {
        margin: 0;
        height: 25vh;
    }
    .grade {
        height: 25vh;
    }
    .texto h2 {
        margin-top: 35px;
        color: #fff;
        font-size: 1.6rem;
        text-align: center;
        margin-bottom: 10px;
    }
    .texto p {
        color: #fff;
        font-size: 1.4em;
        margin: 5px;
        margin-bottom: 15px;
    }
    .mobile p {
        display :none;

    }

    .img1 {
        background-image: url(../image/champions500.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 25vh
    }
    .img2 {
        background-image: url(../image/santiago500.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 25vh
    }
    
    .img3 {
        background-image: url(../image/otogono500.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 25vh
    }
    .img4 {
        background-image: url(../image/anderson500.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        height: 25vh;
    }
    .col-12 h3 {
    font-size: 28px;
    }
    .col-md-6 img {
        margin-top: 0;
        margin-bottom: 30px;
    }
}